.div-formulario{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 110rem 6rem 1fr;
    
    padding: 20px;
    border-radius: 8px;

}
.fori{
    width: 100rem;
    height: 4rem;
    grid-column: 2/3;

    border: 2px solid black;
    border-radius: 2rem;
}
.task-button {
    width: 8rem;
    height: 4rem;
    grid-column: 3/4;

    padding: 10px 20px;
    font-size: 18px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: 10px;
}
